/*
//  Store Locator
 _____________________________________________ */

 .bh-sl-container{
   float: unset !important;
}

.scasl-address-wrap{
  position: relative;
}

#scapl-geocode-btn{
  position: absolute;
  right: 20px;
  top: 15px;
}

button#scapl-geocode-btn{
  width: min-content;
}
  
#scapl-geocode-btn .icon-store{
  width: 14px;
  height: 22px;
  overflow: visible;
}

.icon-store path{
  stroke-width: 1px;
  stroke: var(--color-text);
}

.bh-sl-container .form-input input, .bh-sl-container .form-input select{
  border: 2px solid var(--color-text);
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-text);
  border-radius: 0px;
  padding: 9px 45px 9px 15px;
 margin: 0 0 25px 0;
 width: 100%;
  max-width: 340px;
 caret-color: #EA5C74;
}

.bh-sl-container .form-input input:focus{
  background-color: var(--input-focused);
}

.bh-sl-container button{
  color: var(--btn-color);
  padding: var(--btn-padding);
  border: 0;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.gmnoprint .gm-style-mtc{
  margin-right: 10px;
}

#scasl-list-container #scasl-title, #scasl-window-container #scasl-title{
  font-weight: bold;
}

#bh-sl-map{
  margin-bottom: 50px;
}

.scasl-location-list-title{
  padding-left: 15px;
}

.scasl-location-list-title p{
  text-transform: uppercase;
  text-decoration-line: underline;
  color: var(--color-text);
  font-weight: bold;
  display: inline-block;
}

.scasl-location-list-title .icon-store{
  margin-right: 5px;
  overflow: visible;
}

#scasl-direction a {
  color: var(--color-primary) !important;
  font-weight: bold;
  text-transform: uppercase;
}

#scasl-direction{
  padding-top: 5px;
}

#scasl-schedule {
  width: max-content;
}

.bh-sl-container .bh-sl-map-container a {
  color: var(--color-primary) !important;
}

#scasl-distance, #scasl-schedule-label, #scasl-email, #scasl-phone {
  padding: 10px 0px;
}

.scasl-schedule-content {
  display: none;
}

#scasl-schedule:hover .scasl-schedule-content {
  display: block;
}

.scasl-schedule-content {
  padding-top: 10px;
}

@media only screen and (min-width: 600px) {
  .bh-sl-container .form-input{    
      width: 31%;
      margin: 1%;
  }
}

@media only screen and (min-width: 900px) {
  .bh-sl-container .form-input{    
      width: 25%;
      margin: 1%;
  }

  .scasl-search-btn{
      float: left;
      width: 19%;
      margin-top: 2.5em;
  }

  .bh-sl-container .bh-sl-map{
      float: right;
      height: 577px;
  }
}



